.background {
    opacity: 0;
    overflow: hidden;
    animation:
        backgroundAppearance 1.2s ease-out forwards,
        backgroundPulse 21s ease 1.2s infinite;
}

.background img {
    filter: brightness(72%);
}

@keyframes backgroundAppearance {
    0% {
        transform: scale(2.3);
        filter: blur(1.8px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1.8);
    }
}

@keyframes backgroundPulse {
    0% {
        transform: scale(1.8);
    }

    50% {
        transform: scale(2.3);
    }

    100% {
        transform: scale(1.8);
    }
}
